/AzureMobileServicesPlugin/bin
/AzureMobileServicesPlugin/Bitraqve.Azure.Windows8.TestApp/obj
/AzureMobileServicesPlugin/Bitraqve.Azure.Windows8.TestApp/bin
/AzureMobileServicesPlugin/Bitrave.Azure.Editor/obj
/AzureMobileServicesPlugin/Bitrave.Azure.Editor/bin
/AzureMobileServicesPlugin/Bitrave.Azure.Stub/obj
/AzureMobileServicesPlugin/Bitrave.Azure.Stub/bin
/AzureMobileServicesPlugin/Bitrave.Azure.Windows8/obj
/AzureMobileServicesPlugin/Bitrave.Azure.Windows8/bin
/AzureMobileServicesPlugin/Bitrave.Azure.Windows8.TestApp/obj
/AzureMobileServicesPlugin/Bitrave.Azure.Windows8.TestApp/bin
/AzureMobileServicesPlugin/Bitrave.Azure.WindowsPhone8/Bin
/AzureMobileServicesPlugin/Bitrave.Azure.WindowsPhone8/obj
/AzureMobileServicesPlugin/packages
/AzureMobileServicesUnityProject
