<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="b2e014d6-79cd-4d66-bdff-8f172e3002ad" Publisher="CN=Vaughan" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Bitrave.Azure.Windows8.TestApp</DisplayName>
    <PublisherDisplayName>Vaughan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Bitrave.Azure.Windows8.TestApp.App">
      <VisualElements DisplayName="Bitrave.Azure.Windows8.TestApp" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Bitrave.Azure.Windows8.TestApp" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>