<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="1ae1abd7-a0c6-4ea7-b3a3-eb248f0e4a9b"
            Publisher="CN=Vaughan"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Bitraqve.Azure.Windows8.TestApp</DisplayName>
    <PublisherDisplayName>Vaughan</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Bitraqve.Azure.Windows8.TestApp.App">
        <VisualElements
            DisplayName="Bitraqve.Azure.Windows8.TestApp"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="Bitraqve.Azure.Windows8.TestApp"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>